{% load query_transform %}
{% if is_paginated %}
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">&laquo; Prev</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <span class="page-link">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">Next &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
