{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Kitchen Service - Create Cook{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card card-outline card-olive">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user-plus"></i> Create Cook
                    </h3>
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-olive">
                            <i class="fas fa-save"></i> Submit
                        </button>
                        <a href="{% url 'kitchen:cook-list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
