{% extends "base.html" %}

{% block title %}Kitchen Service - Delete Dish{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-trash"></i> Delete Dish</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete <strong>{{ object.name }}</strong>?</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Yes, delete
                        </button>
                        <a href="{% url 'kitchen:dish-list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
